<!doctype html>
                        <html>
                            <head>
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>profile temp</title>
                                <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
                                
                                <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                                <style>::-webkit-scrollbar {
                                  width: 8px;
                                }
                                
                                ::-webkit-scrollbar-track {
                                  background: #f1f1f1; 
                                }
                                 
                               
                                ::-webkit-scrollbar-thumb {
                                  background: #888; 
                                }
                                
                                
                                ::-webkit-scrollbar-thumb:hover {
                                  background: #555; 
                                } body {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

.form-control:focus {
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    border-color: #BA68C8
}

.profile-button {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    box-shadow: none;
    border: none
}



.profile-button:focus {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.col-md-13{
    padding-bottom: 2rem;
}
.col-md-14{
    padding-top: 2rem;
}
</style>
                                </head>
                                <body className='snippet-body'>
                                <div class="container rounded bg-white mt-5 mb-5">
    <form action ="/editprofile" method="post">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="../images/avatar7.png"><span class="font-weight-bold">Stark</span><span class="text-black-50"><%=locals.email%></span><span> </span></div>
            <div class="col-md-12"><label class="labels">Gender</label><select name ="gender" class="form-control" placeholder="">
                <option value="Male" <% if (locals.gender === 'Male') { %> selected <% } %>>Male</option>
                <option value="Female" <% if (locals.gender === 'Female') { %> selected <% } %>>Female</option>
                <option value="Other" <% if (locals.gender === 'Other') { %> selected <% } %>>Other</option>
                </select>
            </div>
            <div class="col-md-12"><label class="labels">DOB</label><input type="date" name ="dob" class="form-control" placeholder="" value="<%=locals.dob%>"></div>
            <div class="col-md-12"><label class="labels">Git hub</label><input type="url" name ="git" class="form-control" placeholder="paste your links" value="<%=locals.git%>"></div>
            <div class="col-md-12"><label class="labels">LinkedIn</label><input type="url" name ="link" class="form-control" placeholder="paste your links" value="<%=locals.link%>"></div>

        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Full Name</label><input type="text" name ="name" class="form-control" placeholder="Full Name" value="<%=locals.name%>"required></div>
                    <div class="col-md-6"><label class="labels">User Name</label><input type="text" name ="username" class="form-control" placeholder="User Name" value="<%=locals.username%>" disabled></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="number" name ="phone" class="form-control" placeholder="enter phone number" value="<%=locals.phone%>"></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" name="ad1" class="form-control" placeholder="enter address line 1" value="<%=locals.ad1%>"></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" name="ad2" placeholder="enter address line 2" value="<%=locals.ad2%>"></div>
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="number" name="pc" class="form-control" placeholder="postcode" value="<%=locals.pc%>"></div>
                    <div class="col-md-12"><label class="labels">Area</label><input type="text" name="area" class="form-control" placeholder="area" value="<%=locals.area%>"></div>                    <div class="col-md-12"><label class="labels">Email ID</label><input type="email" name="email" class="form-control" placeholder="enter email id" value="<%=locals.email%>" disabled></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text" name ="edu" class="form-control" placeholder="education" value="<%=locals.edu%>"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" name="country" class="form-control" placeholder="country" value="<%=locals.country%>"></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" name ="state" class="form-control" value="<%=locals.state%>" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class ="col-md-13">
                    <label class = "labels"> Your Description </label> <textarea  placeholder="Your bio" rows="10" cols="8" name="description" class="form-control" value="<%=locals.desciption%>"><%=locals.description%></textarea>
                </div>
                <div class ="col-md-13">
                    <label class = "labels"> Short Description</label> <textarea  placeholder="Short Description" rows="3" cols="10" name="sd" class="form-control" value="<%=locals.sd%>"><%=locals.sd%></textarea>
                </div>
                <div class="col-md-12"><label class="labels">Skills</label><input type="text" name="skills" class="form-control" placeholder="skills" value="<%=locals.skills%>"></div>
                <div class="col-md-14"><label class="labels">Job</label><input type="text" name="job" class="form-control" placeholder="Your domain" value="<%=locals.job%>"></div>
            </div>
        </div>
    </div>
</form>
</div>
</div>
</div>
                                <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript' src='#'></script>
                                <script type='text/javascript' src='#'></script>
                                <script type='text/javascript' src='#'></script>
                                <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
                                myLink.addEventListener('click', function(e) {
                                  e.preventDefault();
                                });</script>
                            
                                </body>
                            </html>