<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/profileres.css">
    <link rel="stylesheet" href="/css/profile1.css">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet"></head>

<body>
   
    <span class="main_bg"></span>


    <div class="container">

        
        <header>
            <div class="brandLogo">
                <figure><a href="/"><img src="/images/stark.png" alt="logo" width="50px" height="40px"></a>
                    <a href="/connect"><button class ="edit">Back</button>
                    </a>
                </figure>
        </div>
        </header>


       
        <section class="userProfile card">
            <div class="profile">
                <div class="profile-container">
                    <div class="profile-card">
                        <div class="card-in">
                            <div class="front">
                                <h2><%=locals.username%></h2>
                                <%=  locals.job  %>
                            </div>
                            <div class="back">
                                <img src="/images/hola (1).png"alt="">
                                <h1><%=locals.username%></h1>
                                    <%=  locals.sd %>
                                <div class="row">
                                    
                                        <button>Connect</button>
                                    
                                    <a href="<%=locals.git%>"><img src="/images/github-mark.png"></a>
                                    <a href="<%=locals.link%>"><img src="/images/pngwing.com.png"></a>
                                </div>
                            </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- /////////////// Work & Skills Section /////////////-->
        <section class="work_skills card">

            <!-- /////////// Work Contaienr //////// -->
            <div class="work">
                <h1 class="heading">work</h1>
                <div class="primary">
                    <h1><%=locals.job%></h1>
                    
                    <p><%=locals.ad1%><br> <%=locals.ad2%></p>
                    
                </div>

                
            </div>

            <!-- //////// Skills //////////// -->
            <div class="skills">
                <h1 class="heading">Skills</h1>
                <ul>
                    <!-- <li style="--i:0">Android</li>
                    <li style="--i:1">Web-Design</li>
                    <li style="--i:2">UI/UX</li>
                    <li style="--i:3">Video Editing</li> -->
                    <% for (let i=0; i < 6 && i < skills.length; i++) { %>
                        <li style="--i:<%= i %>"><%= locals.skills[i] %></li>
                    <% } %>
                </ul>
            </div>
        </section>


        <!-- ////////////USER DETAILS/////////////// -->
        <section class="userDetails card">
            <div class="userName">
                <h1 class="name"><%= locals.name%></h1>
                    <%= locals.description%>
            </div>

          
        </section>


        <!-- /////////////////ABOUT/////////////////// -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>
                    

                    <li class="about active">
                        <i class="ri-user-3-fill ri"></i>
                        <span>About</span>
                    </li>
                </ul>
            </div>

            <div class="contact_Info">
                <h1 class="heading">Contact Information</h1>
                <ul>
                    <li class="phone">
                        <h1 class="label">Phone:</h1>
                        <span class="info"><%=locals.phone%></span>
                    </li>

                    <li class="address">
                        <h1 class="label">Address:</h1>
                        <span class="info"><%=locals.ad1%><br> <%=locals.ad2%><br><%=locals.state%>, <%=locals.country%></span>
                    </li>

                    <li class="email">
                        <h1 class="label">E-mail:</h1>
                        <span class="info"><%=locals.email%></span>
                    </li>

                    <li class="site">
                        <h1 class="label">Site:</h1>
                        <span class="info" style="display: block;"><%=locals.git%></span>
                        <span class="info" style="display: block;"><%=locals.link%></span>
                    </li>
                </ul>
            </div>

            <div class="basic_info">
                <h1 class="heading">Basic Information</h1>
                <ul>
                    <li class="birthday">
                        <h1 class="label">Birthday:</h1>
                        <span class="info"><%=locals.dob%></span>
                    </li>

                    <li class="sex">
                        <h1 class="label">Gender:</h1>
                        <span class="info"><%=locals.gender%></span>
                    </li>
                </ul>
            </div>
        </section>
    </div>

</body>

</html>