<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head'); %>
<link rel="stylesheet" href="css/connect.css">
<title>Connect</title>
</head>
<body>
    <%- include('./partials/nav'); %>
    <section id="userProfiles">
        <h2 class="userProfile-heading">Find Collaborators</h2>
        <p class="userProfile-sub">Find projects, share visions, and goals, and join others passionate about similar projects.</p>
        <div class="user-card-holder">
            <% for(var i=0; i<usersList.length; i++) { %>
                <div class="user-card">
                    <div class="user-image-holder"><img src="images/user.jpg" alt="<%= usersList[i].name %>"></div>
                    <div class="user-card-text">
                        <h3><%= usersList[i].name %></h3>
                        <p>Skills:  
                            <% for(var j=0; j<usersList[i].skills.length; j++) { %>
                            <span class="skill-border">
                                <%= usersList[i].skills[j] %>
                            </span>
                            <% } %>
                        </p>
                    </div>
                    <div class="connect-button">
                        <a href="connect/user/<%= usersList[i]._id %>">Connect</a>
                    </div>
                </div>
            <% } %>
        </div>
    </section>

    <section id="projectListings">
        <div class="project-list-heading">
            <div class="project-list-head-text">
                <h2 class="projectListings-heading">Available Projects</h2>
                <p class="projectListings-sub">Choose the right project for you from the list of already published projects.</p>
            </div>
            <div class="project-list-head-button">
                <a href="connect/new">Create Project</a>
            </div>
        </div>
        <div class="project-card-holder">
            <% for(var i=0; i<projectsList.length; i++) { %>
                <div class="project-card">
                    <p><span class="project-text-sub"><%= projectsList[i].name %></p>
                    <p><span class="project-text-sub">Description: </span><%= projectsList[i].description %></p>
                    <p><span class="project-text-sub">Skills Needed: </span>
                        <% for(var j=0; j<projectsList[i].skills.length; j++) { %>
                        <span class="skill-border">
                            <%= projectsList[i].skills[j] %>
                        </span>
                        <% } %>
                    </p>
                    <p><span class="project-text-sub">Posted By: </span><a href="connect/user/<%= projectsList[i].user._id %>"><%- projectsList[i].user.username %></a></p>
                    <div class="collab-button">
                        <a href="connect/project/<%= projectsList[i]._id %>">Collaborate</a>
                    </div>
                </div>
            <% } %>
        </div>
    </section>
    <%- include('./partials/footer'); %>
</body>
</html>
